<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="lead text-center">Passionate Data Scientist and Machine Learning Engineer with a knack for turning complex data into actionable insights.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="about-item">
          <i class="fa fa-code fa-3x"></i>
          <h4>Technical Expertise</h4>
          <p>Proficient in Python, R, SQL, and various ML frameworks. Experienced in developing and deploying scalable AI solutions.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-item">
          <i class="fa fa-chart-line fa-3x"></i>
          <h4>Data-Driven Insights</h4>
          <p>Skilled in statistical analysis, data visualization, and predictive modeling to drive business decisions and optimize processes.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-item">
          <i class="fa fa-users fa-3x"></i>
          <h4>Collaborative Innovator</h4>
          <p>Thrives in cross-functional teams, bridging the gap between technical and non-technical stakeholders to deliver impactful solutions.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="about-cta">Let's collaborate to transform your data challenges into opportunities for growth and innovation!</p>
      </div>
    </div>
  </div>
</section>
