<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="lead text-center mb-5">Apasionado Científico de Datos e Ingeniero de Machine Learning con un don para transformar datos complejos en ideas accionables y soluciones innovadoras.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="about-item">
          <i class="fas fa-code fa-3x mb-3"></i>
          <h4>Technical Expertise</h4>
          <p>Desde mi primer "Hola Mundo" hasta hoy, he navegado por un océano de lenguajes y frameworks. Python, R y SQL son mis fieles compañeros en esta travesía de datos, mientras que las herramientas de ML son mi brújula para descubrir tesoros ocultos en la información.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-item">
          <i class="fas fa-chart-line fa-3x mb-3"></i>
          <h4>Data-Driven Insights</h4>
          <p>Como un detective de datos, me sumerjo en los números para descubrir las historias que cuentan. Cada gráfico es un capítulo, cada modelo predictivo un plot twist. Mi misión es transformar estos relatos en estrategias que impulsen el éxito empresarial.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-item">
          <i class="fas fa-users fa-3x mb-3"></i>
          <h4>Collaborative Innovator</h4>
          <p>En el gran escenario de la tecnología, soy el traductor entre el mundo de los datos y el de los negocios. Con empatía y claridad, convierto jerga técnica en melodías que todos pueden entender, orquestando soluciones que armonizan con los objetivos de la empresa.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="about-cta">¿Listo para dar el siguiente paso en tu viaje de datos? ¡Trabajemos juntos para convertir tus desafíos en oportunidades de crecimiento e innovación!</p>
      </div>
    </div>
  </div>
</section>
